            <h1>Book Examples</h1>  
            
            <p>
              <%= Faker::Lorem.paragraph 8 %>
            </p>
            
            <div class="pagination top"><!--<a href="">&laquo; Back</a>--><a href="" class="current">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">Next &raquo;</a></div>       
            
            <div class="bookExamples">
                <div class="book"><a href="bookExampleDetail.html"><img src="/images/placeholder.gif" /><br />more about this book</a></div>  
                <div class="book"><a href="bookExampleDetail.html"><img src="/images/placeholder.gif" /><br />more about this book</a></div>  
                <div class="book"><a href="bookExampleDetail.html"><img src="/images/placeholder.gif" /><br />more about this book</a></div>  	
                <div class="book"><a href="bookExampleDetail.html"><img src="/images/placeholder.gif" /><br />more about this book</a></div>    
                <div class="book"><a href="bookExampleDetail.html"><img src="/images/placeholder.gif" /><br />more about this book</a></div>  
                <div class="book"><a href="bookExampleDetail.html"><img src="/images/placeholder.gif" /><br />more about this book</a></div>  	
                <div class="book"><a href="bookExampleDetail.html"><img src="/images/placeholder.gif" /><br />more about this book</a></div>  
                <div class="book"><a href="bookExampleDetail.html"><img src="/images/placeholder.gif" /><br />more about this book</a></div>  	
            </div>  
            
            <div class="pagination bottom"><!--<a href="">&laquo; Back</a>--><a href="" class="current">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">Next &raquo;</a></div>    
