            <h1>Our  Giving</h1>
            
          <p>&nbsp;</p>
				 
		    <p>At The Wisdom Of Others we  believe that no matter where you are, or what you do, someone helped you get  there. Whether they gave you advice or just lived by example, someone made a  difference in your life and helped you to navigate through it.</p>
		    <p>So, to honor those individuals  both here and gone that helped us, encouraged us, and guided us, we will donate  5% of our profits to the Alzheimer&rsquo;s Foundation of America and the American Association  for Cancer Research. Because life doesn&rsquo;t come with instructions and, without all  of you, we wouldn&rsquo;t be us. </p>
		    <p>&nbsp;</p>
		    <p><strong><img src="ourCharities_clip_AFA.jpg" alt="AFA Image" width="105" height="40" /></strong> </p>
		    <p><a href="http://www.alzfdn.org/">Alzheimer's  Foundation of America </a> </p>
		    <p>The  Alzheimer's Foundation of America is a non-profit foundation comprised of  member and associate member organizations across the U.S. dedicated to meeting  the educational, social and emotional needs of individuals with Alzheimer's  disease and related illnesses, and their families and caregivers. AFA raises  public awareness about the disease, lends expertise to healthcare  professionals, and provides grants to nonprofit member organizations to enhance  local services.</p>
		    <p>&nbsp;</p>
		    <p><strong><img src="ourCharities_clip_AACR.jpg" alt="AACR Image" width="216" height="46" border="0" /></strong> <br />
              <a href="http://www.aacr.org/">American Association for Cancer Research</a> </p>
		    <p>The mission of  the AACR is to prevent and cure cancer through research, education,  communication, and collaboration. Through its programs and services, the AACR  fosters research in cancer and related biomedical science; accelerates the  dissemination of new research findings among scientists and others dedicated to  the conquest of cancer; promotes science education and training; and advances  the understanding of cancer etiology, prevention, diagnosis, and treatment  throughout the world. </p>
