            <h1>Our Guarantee</h1>
            
          <p>
		
        The Wisdom Of Others  guarantees your satisfaction with the workmanship of your book. Should your  book arrive damaged in any way or with a manufacturing defect, contact us via  <a href="mailto:support@TheWisdomOfOthers.com">support@TheWisdomOfOthers.com</a> within 14 days of receipt and we will fix it.  Please understand that The Wisdom Of Others does not provide refunds or cancel  orders, and except for the cases expressly described in this return policy, The Wisdom Of Others cannot otherwise accept returns. <br />
</p>
          <p>Please note that each book you order from us is individually custom made by one of our professional bookbinders. There may be minor differences across different prints of the same books including, but not limited to, slight variances in color fidelity and  binding. While we work extremely hard to keep our product as consistent as possible, these slight variations are a normal occurrence and are not considered a manufacturing defect or a defect in workmanship and do not qualify for a reprint.<br />
          </p>
          <p>&nbsp;</p>
          <p><strong>When  Purchasing A Book</strong><br />
            The Wisdom Of Others does not proof, edit, or change your content in any way.  This means it&rsquo;s your responsibility to review your book before you submit it to  us and fix: </p>
          <ul type="disc">
            <li>&bull;&nbsp;&nbsp;Typos, grammar, unfinished text, or other text errors </li>
	        <li>&bull;&nbsp;&nbsp;Design issues, including book format, organization, style, color, and page layout </li>
	        <li>&bull;&nbsp;&nbsp;Any creative choices that you make related to the Book </li>
	        <li>&bull;&nbsp;&nbsp;Low-resolution images that may appear blurry in print</li>
            <li><p>
            If you plan to order multiple copies of a book, we strongly recommend that you order a single copy as a proof to make sure it&rsquo;s everything you expected </li>
          </ul>
	      <p>Each book you purchase from  The Wisdom Of Others is custom printed only upon your order, and we don&rsquo;t  warehouse books, therefore we do not accept returns or process refunds for any  reason, except to the extent we guarantee your satisfaction with the  workmanship of our books, as described above. </p>
        
