            <h1>Our Story &raquo; <span>In the Press</span></h1> 
           
            <h3><%= Faker::Lorem.sentence %></h3>            
            <div class="dateline">June 30, 2010</div>
           
            <p>
              <%= Faker::Lorem.paragraph 9 %>
            </p>
            <p>
              <%= Faker::Lorem.paragraph 29 %>
            </p>
             
             <a href="ourStory.html" class="back">&laquo; all Articles</a>
