            <h1>Privacy Policy</h1>
            
          <p> At The Wisdom Of Others we care  deeply about protecting your privacy.</p>
				 
		    <h3>&bull;&nbsp;&nbsp;&nbsp;&nbsp; We won't sell, rent,  lease, license, or sub-license any of your personal information.</h3>
		    <h3>&bull;&nbsp;&nbsp;&nbsp;&nbsp; We don&rsquo;t ask you for  personal information unless we truly need it.</h3>
		    <h3>&bull;&nbsp;&nbsp;&nbsp;&nbsp; We won't share or give  out your personal information except to fulfill orders you place or as required  by law. </h3>
		    <h3>&bull;&nbsp;&nbsp;&nbsp;&nbsp; We won't provide your  email address to other companies unless it is required to fulfill orders you  place.</h3>
		    <h3>&bull;&nbsp;&nbsp;&nbsp;&nbsp; You can cancel your  account at any time.</h3>
		    <p>&nbsp;</p>
		    <p>This Privacy Policy, as detailed  below, is intended to inform you of our policies and practices regarding the  collection, use and disclosure of any Personal and/or Anonymous Information you  submit to us through our Website.</p>
		    <p> <br />
  &ldquo;Personal Information&rdquo; is information about  you that is personally identifiable to you, like your name, address, email  address, or phone number, as well as other non-public information that is  associated with the foregoing. &ldquo;Anonymous Information&rdquo; means information that  is not associated with or linked to your Personal Information; Anonymous  Information does not permit the identification of individual persons. We  collect and use Personal Information and Anonymous Information as described in  this Privacy Policy. </p>
		    <p><br />
		      <strong>Collection of  Personal Information</strong><br />
		      The Personal Information we gather  from you helps us learn about visitors to the Website, our customers and  potential customers. We use this information to provide our Services to you, to  better tailor the features, performance and support of our website, products  and services, and to offer you additional information and opportunities. </p>
		    <p><br />
              <strong>Personal  Information You Provide to Us</strong><br />
		      We collect Personal Information that  you submit to us voluntarily through our Website. </p>
		    <ul type="disc">
              <li>When       you register on the Website, we will collect your full name and username,       a password, and an email address. </li>
		      <li>When       you order products on the Website, we will collect all information       necessary to complete the transaction, including your name, credit card       information, billing information and shipping information. </li>
		      <li>When       you contact us to submit comments, questions or feedback, we will collect       your name, email address and your comment, question or feedback. </li>
		      <li>When       you participate in one of our surveys, we may collect additional profile       information. </li>
		      <li>When       you use our site to send e-mail, we will collect and store such e-mail       addresses. </li>
		      <li>When       you contact us by sending us an email, we will collect your email address       and any information contained in the email you send us and any information       attached to the email. </li>
	      </ul>
		    <p>Please note that content that you use  for your Books or that you contribute to Books might also contain Personal  Information. Please be mindful that such content may be made available to  others as content of your Books or the Books of others to which you contribute  content and that you therefore should only use and contribute content that you  are comfortable sharing under these conditions. <br />
                </p>
		    <p>&nbsp;</p>
		    <p><strong>Personal  Information Collected Via Technology</strong><br />
		      As you navigate our Website, certain  passive information may also be collected, including your Internet protocol  address, browser type, domain names, access times, and operating system. Like  many other companies we also use Cookies and navigational data like Uniform  Resource Locators (URL) to gather information regarding the date and time of  your visit and the solutions and information for which you searched and which  you viewed. This type of information is collected to make our website, services  and solutions more useful to you. <br />
		      </p>
		    <p>An &ldquo;Internet protocol address&rdquo; or &ldquo;IP  Address&rdquo; is a number that is automatically assigned to your computer when you  use the Internet. In some cases your IP Address stays the same from browser  session to browser session; but if you use a consumer internet access provider,  your IP Address probably varies from session to session. We track IP Addresses  solely in conjunction with session cookies to analyze our web page flow. <br />
  &ldquo;Cookies&rdquo; are small pieces of  information that a web site sends to your computer&rsquo;s hard drive while you are  viewing a web site. We may use both session Cookies (which expire once you  close your web browser) and persistent Cookies (which stay on your computer  until you delete them) to provide you with a more personal and interactive experience  on the Website. Persistent Cookies can be removed by following Internet browser  help file directions. If you choose to disable Cookies, some areas of the  Website may not work properly. <br />
		      </p>
		    <p>&nbsp;</p>
		    <p><strong>Use of  Information</strong><br />
		      In general, Personal Information you  submit to us is used either to respond to requests that you make, or to aid us  in serving you better. We may also use your Personal Information to provide you  with The Wisdom Of Others surveys, or promotional emails regarding changes and  upgrades to our website, products and services and for other marketing purposes  of The Wisdom Of Others. <br />
	      </p>
		    <p>We may create Anonymous Information  records from Personal Information by excluding information (such as your name)  that makes the information personally identifiable to you. We may use this  Anonymous Information to analyze request patterns and usage patterns so that we  may enhance our website, products and services. The Wisdom Of Others reserves  the right to use and disclose Anonymous Information to third parties in its  discretion. <br />
                        </p>
		    <p>&nbsp;</p>
		    <p><strong>Feedback</strong> <br />
		      If  you provide feedback on our website or any of our products to us, we may use  such feedback for any purpose, provided we will not associate such feedback  with your Personal Information. The Wisdom Of Others will collect any  information contained in such communication and will treat the Personal  Information in such communication in accordance with this Privacy Policy. <br />
              </p>
		    <p>&nbsp;</p>
		    <p><strong>Disclosure of  Personal Information</strong><br />
		      Except as otherwise stated in this  Privacy Policy, we do not trade, rent, or share your Personal Information with  third parties and we will not disclose financial information unless you ask us  to do so. <br />
		      </p>
		    <p>We may share your Personal  Information with third parties to provide you with the products and services  that we offer you through the Website. These third parties are required not to  use your Personal Information other than to provide the products and services  requested by The Wisdom Of Others and are bound by confidentiality agreements  with regard to their use of such information. You expressly consent to the  sharing of your Personal Information with our contractors and third party  service providers for the sole purpose of providing products and services to  you. <br />
		      </p>
		    <p>We may enter into agreements with  Partner Companies pursuant to which we provide the Partner Companies with an  URL and a customer registration page co-branded with, or private labeled by,  the Partner Companies, and the Partner Companies distributes and promotes the  URL to its customers. A Partner Company may want access to Personal Information  that we collect from their customers. As a result, if you register on the  Website through a Partner Company, we may provide your Personal Information to  the Partner Company. Because we do not control the privacy practices of our  Partner Companies, you should read and understand their privacy policies. <br />
	      </p>
		    <p>Although we currently do not have a  parent company, any subsidiaries, joint ventures, or other companies under a  common control (collectively, &ldquo;Affiliates&rdquo;), we may in the future. We may share  some or all of your Personal Information with these Affiliates, in which case  we will require our Affiliates to honor this Privacy Policy. <br />
		      </p>
		    <p>If our company or our assets are acquired  by another company, that company will possess the Personal Information  collected by us and it will assume the rights and obligations regarding your  Personal Information as described in this Privacy Policy. <br />
		      </p>
		    <p>Regardless of any choices you make  regarding your Personal Information (as described below), we may disclose your  Personal Information if we believe in good faith that such disclosure is  necessary to (a) comply with relevant laws or to respond to subpoenas or  warrants served on The Wisdom Of Others; or (b) to protect and defend the  rights or property of The Wisdom Of Others or users of our Website and Services. </p>
		    <p>&nbsp;</p>
		    <p><strong>Your Personal  Information</strong> <br />
		      We  offer you choices regarding the collection, use and sharing of your Personal  Information. When you receive promotional communications from us, you may  indicate a preference to stop receiving further communications from us and you  will have the opportunity to &ldquo;opt-out&rdquo; by following the unsubscribe  instructions provided in the email you receive or by contacting us directly  (please see contact information below). Despite your indicated email  preferences, we may send you notices regarding the services we provide to you  and any updates to our Terms of Use or Privacy Policy. <br />
		      </p>
		    <p>You may change any of the Personal  Information in your account at any time by editing it yourself or by sending an  email to us at the email address set forth below. <br />
              </p>
		    <p>&nbsp;</p>
		    <p><strong>Regarding  Children</strong><br />
		      We do not intentionally gather  Personal Information about visitors who are under the age of 18. <br />
              </p>
		    <p>&nbsp;</p>
		    <p><strong>Other Sites</strong><br />
		      Our provision of a link to any other  website or location is for your convenience and does not signify our  endorsement of such other website or location or its security or contents. We  have no control over, do not review, and cannot be responsible for these outside  websites or their content. Please be aware that the terms of our Privacy Policy  do not apply to these outside websites. <br />
              </p>
		    <p>&nbsp;</p>
		    <p><strong>Security</strong><br />
		      The Wisdom Of Others is committed to protecting the security of your Personal  Information. We use a variety of industry-standard security technologies and  procedures to help protect your Personal Information from unauthorized access,  use, or disclosure. <br />
		      The Wisdom Of Others has implemented  industry-standard electronic means of protecting your Personal Information. We  store Personal Information behind a computer firewall, a barrier designed to  prevent outsiders from accessing our servers. We also require you to enter a  password to access your account information. In addition, The Wisdom Of Others  protects your Personal Information from unauthorized physical access by storing  your Personal Information in a controlled facility. Except as provided  elsewhere in this Privacy Policy, The Wisdom Of Others limits access to  Personal Information in electronic databases to those persons (including  employees and contractors) in The Wisdom Of Others organization who have a  business need for such access. <br />
		      </p>
		    <p>Even though The Wisdom Of Others has  taken significant steps to ensure that your Personal Information is not  intercepted, accessed, used, or disclosed by unauthorized persons, you should  know that The Wisdom Of Others cannot fully eliminate security risks associated  with Personal Information, including but not limited to access of accounts  through stolen passwords, fraud, malicious files or illegal access of our or  our service providers computers or systems. The Wisdom of Others explicitly  disclaims any warranty, express or implied, concerning the security of any  systems not directly owned by The Wisdom of Others. <br />
              </p>
		    <p>&nbsp;</p>
		    <p><strong>User Consent</strong><br />
		      By submitting Personal Information  through our Website, you agree to the terms of this Privacy Policy and you  expressly consent to the processing of your Personal Information according to  this Privacy Policy. <br />
              </p>
		    <p>&nbsp;</p>
		    <p><strong>Contact Us</strong> <br />
		      Should  you have any questions or concerns regarding this Privacy Policy, please  contact us via email at <a href="mailto:support@TheWisdomOfOthers.com">support@TheWisdomOfOthers.com</a> </p>
		    <p>&nbsp;</p>
		    <p><strong>Privacy Policy Updates</strong><br />
		      This Privacy Statement is a  living document. As part of The Wisdom Of Others Terms of Use, this Privacy  Policy is subject to occasional amendment, in accordance with the terms of the  Terms of Use. &nbsp;Your continued use of The  Wisdom Of Others Website and its Services constitutes your consent to any and  all updates to this privacy policy. If you do not agree to any of the changes and/or updates,  you must cease your use of the Website and Services immediately.<br />
		      </p>
		    <p>This Policy was last updated in October  2009. </p>
