<h1>Invite Contributors <span>Invitations Approved & Sent</span></h1>

<p>Your invitations have been sent successfully! (NOT REALLY)</p>
<%= link_to 'Invite More Contributors', {:action=>:new} %>
or
<%= link_to 'Manage Your Book', book_path(@invitation.book.id) %>
