<h1>Create a Book <span>Finished</span></h1>

<p>Your book has been been created successfully!</p>
<%= link_to 'Manage Your Book', book_path(@book), :class=>'more' %>
or
<a href="account_invite1.html" class="more">Invite Contributors Now</a>                          
