<h1>Create a Book <span>(3 steps)</span></h1>

<%= render 'form' %>

<p class="note" style="float:left;display:inline;margin:0;">You will be able to edit these settings at any time from your book management page.</p>
