            <h1>Manage Book &raquo; <span>'Sample Book Title' &raquo;  Contributor Statistics </span></h1>
            
            <p>Reports will include number of invitations sent, percentage of responses and recent contributions information.</p>
