<h1>Contribution Submitted</h1>

<p>Your contribution is appreciated. </p> 
<a href="contribute.html" class="more"><strong>Make Another Contribution</strong></a>
or
<a href="account.html" class="more">Go to Your Account</a>
