<h1>Contribution Submitted</h1>

<% if @contribution.book.account == current_user.account %>
  <p>Added contribution to your book.</p>
<%= link_to 'Manage Book', book_path(@contribution.book), :class=>"more" %>
<% else %>
  <p>Your contribution is appreciated. </p> 
<% end %>
<%= link_to content_tag(:strong, 'Make Another Contribution'), new_contribution_path(:book_id => @contribution.book), :class=>"more" %>
or
<%= link_to 'Go to Your Account', current_user.account, :class=>"more" %>
