<h1>Contribution Submitted</h1>

<p>Your contribution is appreciated. </p> 
<a href="/contributions/new?book_id=xxx" class="more"><strong>Make Another Contribution (Ryan: To the same book?)</strong></a>
or
<%= link_to 'Go to Your Account', current_user.account %>
