<h1>Listing contributions</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Book</th>
    <th>Sig</th>
    <th>Extra</th>
    <th>Wisdom</th>
    <th>Invitation</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contributions.each do |contribution| %>
  <%= render contribution %>
<% end %>

</table>

<br />

<%= link_to 'New Contribution', new_contribution_path %>
