            <h1>Account Details</h1> 
            
            <p><%= Faker::Lorem.paragraph 3 %></p>           
            
<%= render 'form' %>

      <div style="float:left;display:inline;width:400px;margin-left:25px;">
        <h2><%= Faker::Lorem.sentence %></h2>
        <p><%= Faker::Lorem.paragraph 17 %></p>
            
      </div>
